ul {
	list-style: none;
}

li {
	margin-bottom: 20px;
}
a {
	text-decoration: none;
	display: flex;
	width: 100vw;
	align-items: center;
}
h {
	margin: 0;
	color: #2a5885;
}

img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

button {
	width: 50vw;
	max-width: 200px;
	max-height: 70px;
	height: 5vh;
	font-size: large;
	margin-bottom: 20px;
}

div {
	width: 100vw;
	font-size: large;
}